@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ddd;
}

.cover-photo {
    background-image: url('../public/bg-sidebar-desktop.svg');
    object-fit: cover;
    background-position: bottom center;
}